.bacgkorund-circle {
  filter: blur(1px);
}

@keyframes floating {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(-3deg);
  }

  66% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.desktop {
  position: absolute;
  top: 8%;
  left: 2%;
}

.laptop {
  position: absolute;
  bottom: 8%;
  right: 2%;
}

.phone-one {
  position: absolute;
  left: 2%;
  bottom: 8%;
  transition: all 0.3s;
}

.phone-two {
  position: absolute;
  right: 2.5%;
  top: 8%;
  transition: all 0.3s;
}

.the-cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone-one:hover {
  cursor: pointer;
  transform: rotate(30deg);
}

.desktop:hover,
.laptop:hover {
  cursor: pointer;
  animation: 3s infinite floating;
}

.phone-two:hover {
  cursor: pointer;
  transform: rotate(-65deg);
}

.jwt-desktop,
.jwt-laptop,
.jwt-phone-one,
.jwt-phone-two {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  height: 49px;
  width: 37px;
}

#server_background {
  transition: all 0.3s;
}
